<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Relay Timer Configuration</title>
    <link rel="stylesheet" href="/static/timerschedule/timer.css">
</head>
<body>

    <nav class="sidebar">
        {% include 'navigation/nav.html' %}
    </nav>

    <div class="container">  
        <h1>Timer Configuration</h1>  
        <div id="timerDisplay">00:00</div>  
        <!-- Relay Configuration Form -->  
        <form id="relayConfigForm">  
            <div class="form-group">  
                <label>Device ID</label>  
                <select id="deviceId" required>  
                    <option value="">Select Device ID</option>  
                </select>  
            </div>  
            
            <div class="form-group">  
                <label>Timer Duration</label>  
                <input type="number" id="timerDuration" required placeholder="Enter duration">  
            </div>  
            
            <div class="form-group">  
                <label>Time Unit</label>  
                <select id="timeUnit">  
                    <option value="seconds">Seconds</option>  
                    <option value="minutes">Minutes</option>  
                </select>  
            </div>  
            
            <div class="form-group">  
                <label>Action After Timer</label>  
                <select id="timerAction">  
                    <option value="ON">Turn Relay ON</option>  
                    <option value="OFF">Turn Relay OFF</option>  
                </select>  
            </div>  
            
            <button type="submit" class="btn">Start Timer</button>  
        </form>  

        <!-- Timer Display -->  
        
        <script src="/static/timerschedule/timer.js"></script>

    </div>  
    
    <div class="scheduler-button-container">
        <a href="/scheduler" class="btn-scheduler">Go to Scheduler</a>
    </div>


</body>
</html>