<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device Management</title>
    <script src="/static/devicemanage/devicemanage.js"></script>
    <link rel="stylesheet" href="/static/devicemanage/devicemanage.css">
</head>
<body>
    <nav class="sidebar">
        {% include 'navigation/nav.html' %}
    </nav>

    <div class="content">
        <header class="page-header">
            <h1>Device Management</h1>
        </header>

        <!-- Device Tiles -->
        <section class="device-tiles-container" id="deviceTilesContainer">
        </section>
    </div>
</body>
</html>
