<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/static/nav.css">

<div class="d-flex">
    <nav class="sidebar">
        <ul class="navbar-links">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/devicemanage" {% if current_user.role != 1 %}style="display:none"{% endif %}>Device Management</a></li>
            <li><a href="/timer">Timer Scheduler</a></li>
            <li><a href="/automation">Automation Rule</a></li>
            <li><a href="/zone">Zone Management</a></li>
            <li><a href="/users" {% if current_user.role != 1 %}style="display:none"{% endif %}>User Management</a></li>
            <li><a href="/feedback">Feedback</a></li>
            <li><a href="/backup_restore" {% if current_user.role != 1 %}style="display:none"{% endif %}>Backup Restore</a></li>
            <li><a href="/logout">Logout</a></li>  
        </ul>
    </nav>
    </nav>
    <div class="container-fluid">
    </div>
</div>
