/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}


.dashboard-container {
    margin-left: 250px; 
    display: flex;
    flex-direction: column; 
    align-items: center;      
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
}

.dashboard-title {
    color: #333;
    font-size: 24px;  
    margin-bottom: 20px;  
    text-align: center; 
}


.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 25px;
    width: 70%; /*responsible for change the size of all the size*/
}


.dashboard-tile {
    min-height: 250px;  /* Set a minimum height for the tiles */
    background-color: rgb(233, 233, 233);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    display: flex;
    flex-direction: column;
}


.tile-header {
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
}

/* Tile Content */
.tile-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tile-content canvas {
    max-width: 100%;
    max-height: 350px;
}

.tile-content p {
    font-size: 14px;
    margin: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
}