# Python
__pycache__/          # Ignore Python bytecode caches
*.pyc                 # Ignore compiled Python files
*.pyo                 # Ignore optimized Python files
*.pyd                 # Ignore Python dynamic modules
*.db                  # Ignore database files
instance/
# Node.js
node_modules/         # Ignore Node.js modules directory
dist/                 # Ignore distribution files
build/                # Ignore build output

# Operating system files
.DS_Store             # Ignore macOS system files
Thumbs.db             # Ignore Windows system files

# IDE files
.idea/                # Ignore IntelliJ IDEA project files
*.sublime-workspace   # Ignore Sublime Text workspace files
*.code-workspace      # Ignore VS Code workspace files
